@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/*********** Font Family ***********/
/* font-family: 'Work Sans', sans-serif; */

/*********** Font Family ***********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:hover {
  text-decoration: none;
}
body {
  font-family: 'Work Sans', sans-serif;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
}
header {
  background: rgba(255, 144, 14, 0.14);
  padding: 50px 260px;
}
nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
nav h3 {
  font-size: 2.8rem;
  text-align: center;
  font-weight: 700;
  color: #131313;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
}
nav ul li a {
  font-size: 20px;
  color: #424242;
  font-weight: 500;
}
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
  margin: 30px 0;
  padding-top: 50px;
}
.banner-description {
  color: #272727;
  font-size: 1rem;
  margin-bottom: 20px;
}
.btn-primary {
  background-color: #ff900e;
  border-radius: 8px;
  padding: 20px 25px;
  color: #fff;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
}
.banner img {
  width: 100%;
  margin-top: 20px;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
.features-container {
  display: flex;
  align-items: center;
  padding: 60px 0;
}
.img-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 20px;
}
.info-section {
  padding: 0 60px;
}
.teams-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.teams-title .quick {
  color: #727272;
  font-weight: 500;
}
.teams-title .feature {
  color: #ff900e;
  font-weight: 700;
}
.teams-description {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  padding: 30px;
}
.facts-card-container .card-stats {
  font-size: 2.3rem;
  font-weight: 600;
  color: #424242;
}
.facts-card-container .card-title {
  font-size: 18px;
  font-weight: 400;
  color: #727272;
}
.facts-container h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.facts-container p {
  text-align: center;
  padding-bottom: 30px;
}
.facts-container {
  margin-bottom: 3rem;
}
/* mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 10px;
  }
  nav {
    flex-direction: column;
  }
  nav h3 {
    font-size: 30px;
  }
  nav ul li {
    margin-top: 20px;
  }
  nav ul li a {
    font-size: 16px;
    margin: 10px 8px;
  }
  .banner-title {
    font-size: 2rem;
    margin: 20px 0;
  }
  .banner-description {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .btn-primary {
    font-size: 0.8rem;
    padding: 14px 22px;
  }

  .features-container {
    flex-direction: column;
  }
  .img-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.6rem;
  }
  .teams-title {
    margin-top: 20px;
    text-align: center;
    align-items: center;
  }
  .teams-description {
    text-align: center;
  }
  .facts-card-container {
    flex-direction: column;
    margin: 0 1.2rem;
  }
  .facts-card-container .card {
    margin-bottom: 1.3rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 40px;
  }
  nav {
    flex-direction: column;
  }
  nav ul li {
    margin-top: 20px;
  }
}
